div.hero-inner
    h1 TTP Homes
    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit massa, aliquet sit amet mauris pretium, posuere varius ex.
    a.btn(href='#about') Learn more
